@using System.Web.Optimization;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!—Название сайта и кнопка раскрытия меню для мобильных-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">TicketBox - онлайновая касса</a>
            </div>

            <!— Само меню -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Домой</a></li>
                    <li><a href="/Театр">Театр</a></li>
                    <li><a href="/Концерт">Концерт</a></li>
                    <li><a href="/Спорт">Спорт</a></li>
                    <li><a href="/Детям">Детям</a></li>
                    <li><a href="/Другое">Другое</a></li>
                    @Html.Action("Summary", "Cart")
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    <div class="row panel">
        <div class="col-xs-8 col-lg-12">
            @RenderBody() 
        </div>
    </div>    

    <footer class="container-fluid text-center bg-lightgray footer">
        <div class="copyrights" style="margin-top:25px;">
            <p>
                &copy; @DateTime.Now.Year - TicketBox, All Rights Reserved
                <br>
                <span>Web Design By: Klysow Nikita</span>
            </p>            
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

